layout {
  tab name="nvim"; cwd="$XDG_CONFIG_HOME/nvim";{
    pane {
      plugin location="zellij:status-bar"
    }
  }
  tab name="zellij"{
    pane {
cwd "$XDG_CONFIG_HOME/zellij"
    }
  }
  tab name="zsh"{
    pane {
cwd "$XDG_CONFIG_HOME/zsh"
    }
  }
  tab name="wezterm"{
    pane {
      cwd "$XDG_CONFIG_HOME/wezterm"
    }
  }
  tab name="dotfiles"{
    pane {
cwd "$USER/.dotfiles"
    }
  }

      
}
