keybinds {
    normal clear-defaults=true {
        // tmux
        bind "Ctrl a" { SwitchToMode "Tmux"; }
    }
    tmux clear-defaults=true {
        bind "Ctrl a" { Write 2; SwitchToMode "Normal"; }

        bind "F" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "P" { TogglePaneFrames; }

        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "Normal"; }

        bind "h" { MoveFocusOrTab "Left"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "l" { MoveFocusOrTab "Right"; SwitchToMode "Normal"; }

        bind "t" { NewTab; SwitchToMode "Normal"; }

        bind "v" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "n" { NewPane "Down"; SwitchToMode "Normal"; }

        bind "Esc" { SwitchToMode "Normal"; }
        bind "g" { SwitchToMode "Locked"; }
        bind "m" { SwitchToMode "Move"; }
        bind "z" { SwitchToMode "Resize"; }
        bind "o" { SwitchToMode "Scroll"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "s" { SwitchToMode "Session"; }
        bind "T" { SwitchToMode "Tab"; }
    
        bind "q" { Quit; }
    }
    tab {
        bind "l" { GoToNextTab; SwitchToMode "Normal"; }
        bind "L" { GoToNextTab; }
        bind "h" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "H" { GoToPreviousTab; }
        bind "1" { GoToTab 0; }
        bind "2" { GoToTab 1; }
        bind "3" { GoToTab 2; }
        bind "4" { GoToTab 3; }
        bind "5" { GoToTab 4; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    // status-bar { path "status-bar"; }
    strider { path "strider";}
    //compact-bar { path "compact-bar"; }
}
pane_frames false

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout true

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
 ui {
    pane_frames {
        rounded_corners false
        hide_session_name false
      }
  }
 themes {
    melange {
        bg       "#000000"
        float    "#34302C"
        sel      "#403A36"
        ui       "#867462"
        com      "#C1A78E"
        fg       "#ECE1D7"
        red      "#D47766"
        yellow   "#EBC06D"
        green    "#85B695"
        cyan     "#89B3B6"
        blue     "#A3A9CE"
        magenta  "#CF9BC2"
        orange   "#E49B5D"
        black    "#292522"
        white    "#ECE1D7"
      }
 }
theme "melange"

layout_dir "/home/dev-notomoro/.config/zellij/layouts"

copy_command "xclip -selection clipboard" // x11

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"


// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

