keybinds {
    normal clear-defaults=true {
        // tmux
        bind "Alt f" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "Alt F" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "Alt p" { SwitchToMode "Pane"; }
        bind "Alt P" { SwitchToMode "RenamePane"; }
        bind "Alt m" { SwitchToMode "Move"; }
        bind "Alt t" { SwitchToMode "Tab"; }
        bind "Alt T" { SwitchToMode "RenameTab"; }
        bind "Alt s" { SwitchToMode "Session"; }
        bind "Alt o" { SwitchToMode "Search"; }
        bind "Alt O" { SwitchToMode "EnterSearch"; }
        bind "Alt r" { SwitchToMode "Resize"; }
        bind "Alt n" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "Alt v" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "Alt u" { SwitchToMode "Locked"; }
        bind "Alt e" { SwitchToMode "Scroll"; }
        bind "Alt h" { MoveFocusOrTab "Left"; SwitchToMode "Normal"; }
        bind "Alt j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Alt k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "Alt l" { MoveFocusOrTab "Right"; SwitchToMode "Normal"; }
        bind "Alt x" { CloseFocus ; }
    }

    locked {
        bind "Alt u" { SwitchToMode "Normal"; }
      }

    pane {
        bind "Esc" { SwitchToMode "Normal"; }
      }

    move {
        bind "Esc" { SwitchToMode "Normal"; }
      }

    scroll {
        bind "Esc" { SwitchToMode "Normal"; }
      }

    session {
        bind "Esc" { SwitchToMode "Normal"; }
      }

    resize {
        bind "Esc" { SwitchToMode "Normal"; }
      }

    renametab {
        bind "Esc" { SwitchToMode "Normal"; }
      }

    renamepane {
        bind "Esc" { SwitchToMode "Normal"; }
      }

    search {
        bind "Esc" { SwitchToMode "Normal"; }
      }

    entersearch {
        bind "Esc" { SwitchToMode "Normal"; }
      }

    tmux clear-defaults=true {
        bind "Ctrl a" { Write 2; SwitchToMode "Normal"; }

        bind "F" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "P" { TogglePaneFrames; }

        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "Normal"; }

        bind "h" { MoveFocusOrTab "Left"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "l" { MoveFocusOrTab "Right"; SwitchToMode "Normal"; }

        bind "t" { NewTab; SwitchToMode "Normal"; }


        bind "v" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "n" { NewPane "Down"; SwitchToMode "Normal"; }

        bind "Esc" { SwitchToMode "Normal"; }
        bind "g" { SwitchToMode "Locked"; }
        bind "m" { SwitchToMode "Move"; }
        bind "z" { SwitchToMode "Resize"; }
        bind "o" { SwitchToMode "Scroll"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "s" { SwitchToMode "Session"; }
        bind "T" { SwitchToMode "Tab"; }
    
        bind "q" { Quit; }
    }
    tab {
        bind "Esc" { SwitchToMode "Normal"; }
        bind "l" { GoToNextTab; SwitchToMode "Normal"; }
        bind "L" { GoToNextTab; }
        bind "h" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "H" { GoToPreviousTab; }
        bind "1" { GoToTab 0; }
        bind "2" { GoToTab 1; }
        bind "3" { GoToTab 2; }
        bind "4" { GoToTab 3; }
        bind "5" { GoToTab 4; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    // status-bar { path "status-bar"; }
    strider { path "strider";}
    //compact-bar { path "compact-bar"; }
}
pane_frames false

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout true

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
 ui {
    pane_frames {
        rounded_corners false
        hide_session_name false
      }
  }
 themes {
    everforest {
        bg       "#1E2326"
        float    "#34302C"
        sel      "#45443C"
        ui       "#867462"
        com      "#C1A78E"
        fg       "#DcC6AA"
        red      "#E67E80"
        yellow   "#DBBC7F"
        green    "#A7C080"
        cyan     "#89B3B6"
        blue     "#7FBBB3"
        magenta  "#D699B6"
        orange   "#E69875"
        black    "#292522"
        white    "#ECE1D7"
      }
 }
theme "everforest"

layout_dir "/home/dev-notomoro/.config/zellij/layouts"

copy_command "xclip -selection clipboard" // x11

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"


// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

